
src/bin/x64/Debug/App.xbf
src/bin/x64/Debug/FloatingCastle_Client.exe
src/bin/x64/Debug/FloatingCastle_Client.pdb
src/bin/x64/Debug/FloatingCastle_Client.xr.xml
src/bin/x64/Debug/MainPage.xbf
src/bin/x64/Debug/Microsoft.UI.Xaml.Markup.winmd
src/bin/x64/Debug/System.Runtime.dll
src/obj/x64/Debug/App.xaml
src/obj/x64/Debug/App.g.cs
src/obj/x64/Debug/App.g.i.cs
src/obj/x64/Debug/App.xbf
src/obj/x64/Debug/MainPage.xbf
src/obj/x64/Debug/MainPage.xaml
src/obj/x64/Debug/XamlSaveStateFile.xml
src/obj/x64/Debug/XamlTypeInfo.g.cs
src/obj/x64/Debug/MainPage.g.i.cs
src/obj/x64/Debug/MainPage.g.cs
src/obj/x64/Debug/FloatingCastle_Client.exe
*.pdb
src/obj/x64/Debug/intermediatexaml/FloatingCastle_Client.exe
src/obj/x64/Debug/FloatingCastle_Client.xr.xml
src/obj/x64/Debug/FloatingCastle_Client.csproj.FileListAbsolute.txt
src/obj/x64/Debug/FloatingCastle_Client.csproj.CoreCompileInputs.cache
