
src/bin/x64/Debug/App.xbf
src/bin/x64/Debug/FloatingCastle_Client.exe
src/bin/x64/Debug/FloatingCastle_Client.pdb
src/bin/x64/Debug/FloatingCastle_Client.xr.xml
src/bin/x64/Debug/MainPage.xbf
src/bin/x64/Debug/Microsoft.UI.Xaml.Markup.winmd
src/bin/x64/Debug/System.Runtime.dll
src/obj/x64/Debug/App.xaml
src/obj/x64/Debug/App.g.cs
src/obj/x64/Debug/App.g.i.cs
src/obj/x64/Debug/App.xbf
src/obj/x64/Debug/MainPage.xbf
src/obj/x64/Debug/MainPage.xaml
src/obj/x64/Debug/XamlSaveStateFile.xml
src/obj/x64/Debug/XamlTypeInfo.g.cs
src/obj/x64/Debug/MainPage.g.i.cs
src/obj/x64/Debug/MainPage.g.cs
src/obj/x64/Debug/FloatingCastle_Client.exe
*.pdb
src/obj/x64/Debug/intermediatexaml/FloatingCastle_Client.exe
src/obj/x64/Debug/FloatingCastle_Client.xr.xml
src/obj/x64/Debug/FloatingCastle_Client.csproj.FileListAbsolute.txt
src/obj/x64/Debug/FloatingCastle_Client.csproj.CoreCompileInputs.cache
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/TelemetryDependencies/System.Runtime.CompilerServices.Unsafe.dll
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/TelemetryDependencies/Newtonsoft.Json.dll
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/TelemetryDependencies/Microsoft.VisualStudio.Utilities.Internal.dll
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/TelemetryDependencies/Microsoft.VisualStudio.Telemetry.dll
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/TelemetryDependencies/Microsoft.VisualStudio.RemoteControl.dll
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/TelemetryDependencies/Microsoft.Diagnostics.Tracing.EventSource.dll
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/TelemetryDependencies/LogSideloadingTelemetry.ps1
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/FloatingCastle_Client_0.0.5.0_x64_arm.cer
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Install.ps1
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/FloatingCastle_Client_0.0.5.0_x64_arm.appxbundle
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/FloatingCastle_Client_0.0.5.0_x64.appxsym
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/FloatingCastle_Client_0.0.5.0_ARM.appxsym
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Dependencies/x86/Microsoft.VCLibs.x86.14.00.appx
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Dependencies/x86/Microsoft.NET.Native.Runtime.1.7.appx
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Dependencies/x86/Microsoft.NET.Native.Framework.1.7.appx
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Dependencies/x64/Microsoft.VCLibs.x64.14.00.appx
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Dependencies/x64/Microsoft.NET.Native.Framework.1.7.appx
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Dependencies/x64/Microsoft.NET.Native.Runtime.1.7.appx
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Dependencies/ARM64/Microsoft.VCLibs.ARM64.14.00.appx
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Dependencies/arm/Microsoft.VCLibs.ARM.14.00.appx
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Dependencies/arm/Microsoft.NET.Native.Runtime.1.7.appx
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Dependencies/arm/Microsoft.NET.Native.Framework.1.7.appx
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Dependencies.zip
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Add-AppDevPackage.resources/zh-TW/Add-AppDevPackage.psd1
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Add-AppDevPackage.resources/zh-CN/Add-AppDevPackage.psd1
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Add-AppDevPackage.resources/tr-TR/Add-AppDevPackage.psd1
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Add-AppDevPackage.resources/ru-RU/Add-AppDevPackage.psd1
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Add-AppDevPackage.resources/pt-BR/Add-AppDevPackage.psd1
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Add-AppDevPackage.resources/pl-PL/Add-AppDevPackage.psd1
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Add-AppDevPackage.resources/ko-KR/Add-AppDevPackage.psd1
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Add-AppDevPackage.resources/ja-JP/Add-AppDevPackage.psd1
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Add-AppDevPackage.resources/it-IT/Add-AppDevPackage.psd1
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Add-AppDevPackage.resources/fr-FR/Add-AppDevPackage.psd1
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Add-AppDevPackage.resources/es-ES/Add-AppDevPackage.psd1
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Add-AppDevPackage.resources/en-US/Add-AppDevPackage.psd1
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Add-AppDevPackage.resources/de-DE/Add-AppDevPackage.psd1
src/AppPackages/FloatingCastle_Client_0.0.5.0_Test/Add-AppDevPackage.resources/cs-CZ/Add-AppDevPackage.psd1
src/obj/x64/Debug/FxResources.System.Data.Common.SR.resw
src/bin/x64/Debug/System.Security.Cryptography.Algorithms.dll
src/bin/x64/Debug/System.ServiceModel.dll
src/bin/x64/Debug/System.ServiceModel.Primitives.dll
src/bin/x64/Debug/System.Security.Principal.dll
src/bin/x64/Debug/System.Security.Cryptography.Primitives.dll
src/bin/x64/Debug/System.Security.Cryptography.X509Certificates.dll
src/bin/x64/Debug/System.ServiceModel.Duplex.dll
src/bin/x64/Debug/System.ServiceModel.Http.dll
src/bin/x64/Debug/System.ServiceModel.NetTcp.dll
src/bin/x64/Debug/System.Runtime.WindowsRuntime.dll
src/bin/x64/Debug/System.Runtime.WindowsRuntime.UI.Xaml.dll
src/bin/x64/Debug/System.Security.Claims.dll
src/bin/x64/Debug/System.Security.Cryptography.Cng.dll
src/bin/x64/Debug/System.Security.Cryptography.Encoding.dll
src/bin/x64/Debug/System.ServiceModel.Security.dll
src/bin/x64/Debug/System.ServiceModel.Web.dll
src/bin/x64/Debug/System.Text.Encoding.CodePages.dll
src/bin/x64/Debug/System.Threading.dll
src/bin/x64/Debug/System.Text.Encoding.Extensions.dll
src/bin/x64/Debug/System.Text.Encoding.dll
src/bin/x64/Debug/System.Text.RegularExpressions.dll
src/bin/x64/Debug/System.Threading.Overlapped.dll
src/bin/x64/Debug/System.Threading.Tasks.Dataflow.dll
src/bin/x64/Debug/System.Threading.Tasks.Extensions.dll
src/bin/x64/Debug/System.Threading.Tasks.dll
src/bin/x64/Debug/System.Threading.Tasks.Parallel.dll
src/bin/x64/Debug/System.Threading.Timer.dll
src/bin/x64/Debug/System.Xml.dll
src/bin/x64/Debug/System.Windows.dll
src/bin/x64/Debug/System.Xml.Linq.dll
src/bin/x64/Debug/System.Xml.Serialization.dll
src/bin/x64/Debug/System.Xml.ReaderWriter.dll
src/bin/x64/Debug/System.Xml.XDocument.dll
src/bin/x64/Debug/System.Xml.XmlDocument.dll
src/bin/x64/Debug/System.Xml.XmlSerializer.dll
src/BundleArtifacts/arm.txt
src/BundleArtifacts/x64.txt
src/FloatingCastle_Client.csproj.user
src/FloatingCastle_Client.csproj
src/FloatingCastle_Client_TemporaryKey.pfx
src/obj/FloatingCastle_Client.csproj.nuget.dgspec.json
src/obj/FloatingCastle_Client.csproj.nuget.g.targets
src/obj/FloatingCastle_Client.csproj.nuget.g.props
src/obj/project.assets.json
src/obj/project.nuget.cache
src/obj/x64/Debug/FxResources.Microsoft.CSharp.SR.resw
src/obj/x64/Debug/filtered.layout.resfiles.intermediate
src/obj/x64/Debug/filtered.layout.resfiles
src/obj/x64/Debug/FloatingCastle_Client.csproj.AssemblyReference.cache
src/obj/x64/Debug/FxResources.Microsoft.VisualBasic.SR.resw
src/obj/x64/Debug/FxResources.System.Buffers.SR.resw
src/obj/x64/Debug/.winmd_cache/$Microsoft.UI.Xaml.Markup.winmd_636885418160000000.json
src/obj/x64/Debug/embed/embed.resfiles
src/obj/x64/Debug/excluded.layout.resfiles.intermediate
src/obj/x64/Debug/excluded.layout.resfiles
src/obj/x64/Debug/embed/embed.resfiles.intermediate
src/obj/x64/Debug/FxResources.System.Collections.Concurrent.SR.resw
src/obj/x64/Debug/FxResources.System.Collections.Immutable.SR.resw
src/obj/x64/Debug/FxResources.System.Collections.NonGeneric.SR.resw
src/obj/x64/Debug/FxResources.System.Collections.Specialized.SR.resw
src/obj/x64/Debug/FxResources.System.Collections.SR.resw
src/obj/x64/Debug/FxResources.System.Diagnostics.Debug.SR.resw
src/obj/x64/Debug/FxResources.System.Globalization.Extensions.SR.resw
src/obj/x64/Debug/FxResources.System.Dynamic.Runtime.SR.resw
src/obj/x64/Debug/FxResources.System.IO.Compression.ZipFile.SR.resw
src/obj/x64/Debug/FxResources.System.IO.Compression.SR.resw
src/obj/x64/Debug/FxResources.System.IO.FileSystem.SR.resw
src/obj/x64/Debug/FxResources.System.IO.UnmanagedMemoryStream.SR.resw
src/obj/x64/Debug/FxResources.System.ComponentModel.Annotations.SR.resw
src/obj/x64/Debug/FxResources.System.ComponentModel.EventBasedAsync.SR.resw
src/obj/x64/Debug/FxResources.System.IO.IsolatedStorage.SR.resw
src/obj/x64/Debug/FxResources.System.IO.SR.resw
src/obj/x64/Debug/FxResources.System.Linq.Expressions.SR.resw
src/obj/x64/Debug/FxResources.System.Linq.Parallel.SR.resw
src/obj/x64/Debug/FxResources.System.Linq.Queryable.SR.resw
src/obj/x64/Debug/FxResources.System.Linq.SR.resw
src/obj/x64/Debug/FxResources.System.Net.Http.SR.resw
src/obj/x64/Debug/FxResources.System.Net.NameResolution.SR.resw
src/obj/x64/Debug/FxResources.System.Net.NetworkInformation.SR.resw
src/obj/x64/Debug/FxResources.System.Net.Primitives.SR.resw
src/obj/x64/Debug/FxResources.System.Net.Requests.SR.resw
src/obj/x64/Debug/FxResources.System.Net.Sockets.SR.resw
src/obj/x64/Debug/FxResources.System.Net.WebHeaderCollection.SR.resw
src/obj/x64/Debug/FxResources.System.Net.WebSockets.SR.resw
src/obj/x64/Debug/FxResources.System.Net.WebSockets.Client.SR.resw
src/obj/x64/Debug/FxResources.System.Numerics.Vectors.SR.resw
src/obj/x64/Debug/FxResources.System.Private.DataContractSerialization.SR.resw
src/obj/x64/Debug/FxResources.System.ObjectModel.SR.resw
src/obj/x64/Debug/FxResources.System.Private.Uri.SR.resw
src/obj/x64/Debug/FxResources.System.Private.ServiceModel.SR.resw
src/obj/x64/Debug/FxResources.System.Reflection.Metadata.SR.resw
src/obj/x64/Debug/FxResources.System.Reflection.DispatchProxy.SR.resw
src/obj/x64/Debug/FxResources.System.Runtime.Extensions.SR.resw
src/obj/x64/Debug/FxResources.System.Runtime.InteropServices.SR.resw
src/obj/x64/Debug/FxResources.System.Runtime.Numerics.SR.resw
src/obj/x64/Debug/FxResources.System.Runtime.Serialization.Primitives.SR.resw
src/obj/x64/Debug/FxResources.System.Runtime.WindowsRuntime.SR.resw
src/obj/x64/Debug/FxResources.System.Security.Claims.SR.resw
src/obj/x64/Debug/FxResources.System.Runtime.WindowsRuntime.UI.Xaml.SR.resw
src/obj/x64/Debug/FxResources.System.Security.Cryptography.Cng.SR.resw
src/obj/x64/Debug/FxResources.System.Security.Cryptography.Algorithms.SR.resw
src/obj/x64/Debug/FxResources.System.Security.Cryptography.Encoding.SR.resw
src/obj/x64/Debug/FxResources.System.Security.Cryptography.X509Certificates.SR.resw
src/obj/x64/Debug/FxResources.System.Security.Cryptography.Primitives.SR.resw
src/obj/x64/Debug/FxResources.System.Text.RegularExpressions.SR.resw
src/obj/x64/Debug/FxResources.System.Text.Encoding.CodePages.SR.resw
src/obj/x64/Debug/FxResources.System.Threading.SR.resw
src/obj/x64/Debug/FxResources.System.Threading.Overlapped.SR.resw
src/obj/x64/Debug/FxResources.System.Threading.Tasks.Dataflow.SR.resw
src/obj/x64/Debug/FxResources.System.Threading.Tasks.Parallel.SR.resw
src/obj/x64/Debug/FxResources.System.Xml.ReaderWriter.SR.resw
src/obj/x64/Debug/FxResources.System.Xml.XDocument.SR.resw
src/obj/x64/Debug/FxResources.System.Xml.XmlDocument.SR.resw
src/obj/x64/Debug/FxResources.System.Xml.XmlSerializer.SR.resw
src/obj/x64/Debug/MultipleQualifiersPerDimensionFound.txt
src/obj/x64/Debug/priconfig.xml
src/obj/x64/Debug/pri.resfiles
src/obj/x64/Debug/pri.resfiles.intermediate
src/obj/x64/Debug/ProjectArchitectures.txt
src/obj/x64/Debug/priconfig.xml.intermediate
src/obj/x64/Debug/qualifiers.txt
src/obj/x64/Debug/ResourceHandlingTask.state
src/obj/x64/Debug/qualifiers.txt.intermediate
src/obj/x64/Debug/resources.resfiles
src/obj/x64/Debug/resources.resfiles.intermediate
src/obj/x64/Debug/unfiltered.layout.resfiles
src/obj/x64/Debug/unfiltered.layout.resfiles.intermediate
src/bin/x64/Debug/System.Runtime.Serialization.Xml.dll
src/bin/x64/Debug/System.Runtime.Serialization.Primitives.dll
src/bin/x64/Debug/System.Runtime.Serialization.Json.dll
src/bin/x64/Debug/System.Runtime.Serialization.dll
src/bin/x64/Debug/System.Runtime.Numerics.dll
src/bin/x64/Debug/System.Runtime.InteropServices.WindowsRuntime.dll
src/bin/x64/Debug/System.Runtime.InteropServices.dll
src/bin/x64/Debug/System.Runtime.Handles.dll
src/bin/x64/Debug/System.Runtime.Extensions.dll
src/bin/x64/Debug/System.Resources.ResourceManager.dll
src/bin/x64/Debug/System.Reflection.TypeExtensions.dll
src/bin/x64/Debug/System.Reflection.Primitives.dll
src/bin/x64/Debug/System.Reflection.Metadata.dll
src/bin/x64/Debug/System.Reflection.Extensions.dll
src/bin/x64/Debug/System.Reflection.Emit.Lightweight.dll
src/bin/x64/Debug/System.Reflection.Emit.ILGeneration.dll
src/bin/x64/Debug/System.Reflection.dll
src/bin/x64/Debug/System.Reflection.Emit.dll
src/bin/x64/Debug/System.Reflection.DispatchProxy.dll
src/bin/x64/Debug/System.Reflection.Context.dll
src/bin/x64/Debug/System.Private.Uri.dll
src/bin/x64/Debug/System.Private.DataContractSerialization.dll
src/bin/x64/Debug/System.Private.ServiceModel.dll
src/bin/x64/Debug/System.ObjectModel.dll
src/bin/x64/Debug/System.Numerics.dll
src/bin/x64/Debug/System.Net.WebSockets.dll
src/bin/x64/Debug/System.Net.WebSockets.Client.dll
src/bin/x64/Debug/System.Numerics.Vectors.WindowsRuntime.dll
src/bin/x64/Debug/System.Numerics.Vectors.dll
src/bin/x64/Debug/System.Net.WebHeaderCollection.dll
src/bin/x64/Debug/System.Net.Sockets.dll
src/bin/x64/Debug/System.Net.Requests.dll
src/bin/x64/Debug/System.Diagnostics.Tracing.dll
src/bin/x64/Debug/System.Dynamic.Runtime.dll
src/bin/x64/Debug/System.IO.FileSystem.dll
src/bin/x64/Debug/System.IO.UnmanagedMemoryStream.dll
src/bin/x64/Debug/System.Net.dll
src/bin/x64/Debug/System.Net.NameResolution.dll
src/bin/x64/Debug/System.Net.Http.dll
src/bin/x64/Debug/System.Net.Http.Rtc.dll
src/bin/x64/Debug/System.Net.Primitives.dll
src/bin/x64/Debug/System.Net.NetworkInformation.dll
src/bin/x64/Debug/System.Linq.Queryable.dll
src/bin/x64/Debug/System.Linq.dll
src/bin/x64/Debug/System.Linq.Expressions.dll
src/bin/x64/Debug/System.Linq.Parallel.dll
src/bin/x64/Debug/System.IO.FileSystem.Primitives.dll
src/bin/x64/Debug/System.IO.IsolatedStorage.dll
src/bin/x64/Debug/System.IO.dll
src/bin/x64/Debug/System.IO.Compression.ZipFile.dll
src/bin/x64/Debug/System.Globalization.Extensions.dll
src/bin/x64/Debug/System.IO.Compression.dll
src/bin/x64/Debug/System.Data.Common.dll
src/bin/x64/Debug/System.Diagnostics.StackTrace.dll
src/bin/x64/Debug/System.Diagnostics.Debug.dll
src/bin/x64/Debug/System.Diagnostics.Tools.dll
src/bin/x64/Debug/System.Diagnostics.DiagnosticSource.dll
src/bin/x64/Debug/System.Diagnostics.Contracts.dll
src/bin/x64/Debug/System.dll
src/bin/x64/Debug/System.Globalization.dll
src/bin/x64/Debug/System.Globalization.Calendars.dll
src/bin/x64/Debug/System.Core.dll
src/bin/x64/Debug/System.ComponentModel.EventBasedAsync.dll
src/bin/x64/Debug/System.ComponentModel.dll
src/bin/x64/Debug/System.ComponentModel.DataAnnotations.dll
src/bin/x64/Debug/System.Collections.Specialized.dll
src/bin/x64/Debug/System.ComponentModel.Annotations.dll
src/bin/x64/Debug/System.Collections.NonGeneric.dll
src/bin/x64/Debug/System.Collections.Immutable.dll
src/bin/x64/Debug/System.Collections.dll
src/bin/x64/Debug/System.Collections.Concurrent.dll
src/bin/x64/Debug/System.Buffers.dll
src/bin/x64/Debug/System.AppContext.dll
src/bin/x64/Debug/resources.pri
src/bin/x64/Debug/Microsoft.Win32.Primitives.dll
src/bin/x64/Debug/Microsoft.CSharp.dll
src/bin/x64/Debug/Microsoft.VisualBasic.dll
src/bin/x64/Debug/FloatingCastle_Client.build.appxrecipe
src/bin/x64/Debug/Core/FloatingCastle_Client.exe
src/bin/x64/Debug/Core/AppxManifest.xml
src/bin/x64/Debug/clrjit.dll
src/bin/x64/Debug/clrcompression.dll
src/bin/x64/Debug/AppxManifest.xml
src/bin/ARM/Release/App.xbf
src/bin/ARM/Release/AppxManifest.xml
src/bin/ARM/Release/FloatingCastle_Client.build.appxrecipe
src/bin/ARM/Release/clrcompression.dll
src/bin/ARM/Release/FloatingCastle_Client.exe
src/bin/ARM/Release/FloatingCastle_Client_0.0.5.0_ARM.appx
src/bin/ARM/Release/FloatingCastle_Client.xr.xml
src/bin/ARM/Release/FloatingCastle_Client_0.0.5.0_scale-100.appx
src/bin/ARM/Release/FloatingCastle_Client_0.0.5.0_ARM.cer
src/bin/ARM/Release/FloatingCastle_Client_0.0.5.0_scale-125.appx
src/bin/ARM/Release/FloatingCastle_Client_0.0.5.0_scale-100.cer
src/bin/ARM/Release/FloatingCastle_Client_0.0.5.0_scale-125.cer
src/bin/ARM/Release/FloatingCastle_Client_0.0.5.0_scale-150.appx
src/bin/ARM/Release/FloatingCastle_Client_0.0.5.0_scale-150.cer
src/bin/ARM/Release/FloatingCastle_Client_0.0.5.0_scale-400.appx
src/bin/ARM/Release/FloatingCastle_Client_0.0.5.0_scale-400.cer
src/bin/ARM/Release/ilc/Adapters.g.cs
src/bin/ARM/Release/ilc/AppxManifest.xml
src/bin/ARM/Release/ilc/AssemblyInfo.g.cs
src/bin/ARM/Release/ilc/Assets/BadgeLogo.scale-100.png
src/bin/ARM/Release/ilc/Assets/BadgeLogo.scale-125.png
src/bin/ARM/Release/ilc/Assets/BadgeLogo.scale-200.png
src/bin/ARM/Release/ilc/Assets/BadgeLogo.scale-150.png
src/bin/ARM/Release/ilc/Assets/BadgeLogo.scale-400.png
src/bin/ARM/Release/ilc/Assets/LargeTile.scale-100.png
src/bin/ARM/Release/ilc/Assets/LargeTile.scale-125.png
src/bin/ARM/Release/ilc/Assets/LargeTile.scale-150.png
src/bin/ARM/Release/ilc/Assets/LargeTile.scale-200.png
src/bin/ARM/Release/ilc/Assets/LargeTile.scale-400.png
src/bin/ARM/Release/ilc/Assets/LockScreenLogo.scale-200.png
src/bin/ARM/Release/ilc/Assets/SmallTile.scale-100.png
src/bin/ARM/Release/ilc/Assets/SmallTile.scale-125.png
src/bin/ARM/Release/ilc/Assets/SmallTile.scale-150.png
src/bin/ARM/Release/ilc/Assets/SmallTile.scale-200.png
src/bin/ARM/Release/ilc/Assets/SplashScreen.scale-100.png
src/bin/ARM/Release/ilc/Assets/SplashScreen.scale-125.png
src/bin/ARM/Release/ilc/Assets/SmallTile.scale-400.png
src/bin/ARM/Release/ilc/Assets/SplashScreen.scale-150.png
src/bin/ARM/Release/ilc/Assets/SplashScreen.scale-200.png
src/bin/ARM/Release/ilc/Assets/SplashScreen.scale-400.png
src/bin/ARM/Release/ilc/Assets/Square150x150Logo.scale-100.png
src/bin/ARM/Release/ilc/Assets/Square150x150Logo.scale-125.png
src/bin/ARM/Release/ilc/Assets/Square150x150Logo.scale-150.png
src/bin/ARM/Release/ilc/Assets/Square150x150Logo.scale-200.png
src/bin/ARM/Release/ilc/Assets/Square44x44Logo.altform-lightunplated_targetsize-16.png
src/bin/ARM/Release/ilc/Assets/Square44x44Logo.altform-lightunplated_targetsize-24.png
src/bin/ARM/Release/ilc/Assets/Square150x150Logo.scale-400.png
src/bin/ARM/Release/ilc/Assets/Square44x44Logo.altform-lightunplated_targetsize-32.png
src/bin/ARM/Release/ilc/Assets/Square44x44Logo.altform-unplated_targetsize-16.png
src/bin/ARM/Release/ilc/Assets/Square44x44Logo.altform-lightunplated_targetsize-256.png
src/bin/ARM/Release/ilc/Assets/Square44x44Logo.altform-lightunplated_targetsize-48.png
src/bin/ARM/Release/ilc/Assets/Square44x44Logo.altform-unplated_targetsize-256.png
src/bin/ARM/Release/ilc/Assets/Square44x44Logo.altform-unplated_targetsize-32.png
src/bin/ARM/Release/ilc/Assets/Square44x44Logo.scale-100.png
src/bin/ARM/Release/ilc/Assets/Square44x44Logo.altform-unplated_targetsize-48.png
src/bin/ARM/Release/ilc/Assets/Square44x44Logo.scale-150.png
src/bin/ARM/Release/ilc/Assets/Square44x44Logo.scale-125.png
src/bin/ARM/Release/ilc/Assets/Square44x44Logo.targetsize-16.png
src/bin/ARM/Release/ilc/Assets/Square44x44Logo.scale-200.png
src/bin/ARM/Release/ilc/Assets/Square44x44Logo.scale-400.png
src/bin/ARM/Release/ilc/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
src/bin/ARM/Release/ilc/Assets/Square44x44Logo.targetsize-24.png
src/bin/ARM/Release/ilc/Assets/Square44x44Logo.targetsize-32.png
src/bin/ARM/Release/ilc/Assets/Square44x44Logo.targetsize-256.png
src/bin/ARM/Release/ilc/Assets/Square44x44Logo.targetsize-48.png
src/bin/ARM/Release/ilc/Assets/StoreLogo.scale-100.png
src/bin/ARM/Release/ilc/Assets/StoreLogo.scale-125.png
src/bin/ARM/Release/ilc/Assets/StoreLogo.scale-150.png
src/bin/ARM/Release/ilc/Assets/StoreLogo.scale-200.png
src/bin/ARM/Release/ilc/Assets/StoreLogo.scale-400.png
src/bin/ARM/Release/ilc/Assets/Wide310x150Logo.scale-100.png
src/bin/ARM/Release/ilc/Assets/Wide310x150Logo.scale-125.png
src/bin/ARM/Release/ilc/Assets/Wide310x150Logo.scale-150.png
src/bin/ARM/Release/ilc/Assets/Wide310x150Logo.scale-200.png
src/bin/ARM/Release/ilc/clrcompression.dll
src/bin/ARM/Release/ilc/Assets/Wide310x150Logo.scale-400.png
src/bin/ARM/Release/ilc/DotNetNative.debugger-services-def.json
src/bin/ARM/Release/ilc/Data.g.cs
src/bin/ARM/Release/ilc/FloatingCastle_Client.exe
src/bin/ARM/Release/ilc/FloatingCastle_Client.dll
src/bin/ARM/Release/ilc/FloatingCastle_Client.xr.xml
src/bin/ARM/Release/ilc/ForBundle/AppxManifest.xml
src/bin/ARM/Release/ilc/Helpers.g.cs
src/bin/ARM/Release/ilc/ImplTypes.g.cs
src/bin/ARM/Release/ilc/PInvoke.g.cs
src/bin/ARM/Release/ilc/resources.pri
src/bin/ARM/Release/ilc/SafeTypes.g.cs
src/bin/ARM/Release/MainPage.xbf
src/bin/ARM/Release/ilc/SharedStubs.g.cs
src/bin/ARM/Release/Microsoft.CSharp.dll
src/bin/ARM/Release/Microsoft.VisualBasic.dll
src/bin/ARM/Release/Microsoft.Win32.Primitives.dll
src/bin/ARM/Release/mscorlib.dll
src/bin/ARM/Release/resources.pri
src/bin/ARM/Release/System.AppContext.dll
src/bin/ARM/Release/System.Buffers.dll
src/bin/ARM/Release/System.Collections.Concurrent.dll
src/bin/ARM/Release/System.Collections.dll
src/bin/ARM/Release/System.Collections.Immutable.dll
src/bin/ARM/Release/System.Collections.NonGeneric.dll
src/bin/ARM/Release/System.Collections.Specialized.dll
src/bin/ARM/Release/System.ComponentModel.Annotations.dll
src/bin/ARM/Release/System.ComponentModel.DataAnnotations.dll
src/bin/ARM/Release/System.ComponentModel.dll
src/bin/ARM/Release/System.Core.dll
src/bin/ARM/Release/System.ComponentModel.EventBasedAsync.dll
src/bin/ARM/Release/System.Data.Common.dll
src/bin/ARM/Release/System.Diagnostics.Debug.dll
src/bin/ARM/Release/System.Diagnostics.Contracts.dll
src/bin/ARM/Release/System.Diagnostics.StackTrace.dll
src/bin/ARM/Release/System.Diagnostics.DiagnosticSource.dll
src/bin/ARM/Release/System.Diagnostics.Tracing.dll
src/bin/ARM/Release/System.Diagnostics.Tools.dll
src/bin/ARM/Release/System.dll
src/bin/ARM/Release/System.Globalization.dll
src/bin/ARM/Release/System.Dynamic.Runtime.dll
src/bin/ARM/Release/System.Globalization.Extensions.dll
src/bin/ARM/Release/System.Globalization.Calendars.dll
src/bin/ARM/Release/System.IO.Compression.ZipFile.dll
src/bin/ARM/Release/System.IO.Compression.dll
src/bin/ARM/Release/System.IO.dll
src/bin/ARM/Release/System.IO.FileSystem.Primitives.dll
src/bin/ARM/Release/System.IO.FileSystem.dll
src/bin/ARM/Release/System.IO.IsolatedStorage.dll
src/bin/ARM/Release/System.IO.UnmanagedMemoryStream.dll
src/bin/ARM/Release/System.Linq.dll
src/bin/ARM/Release/System.Linq.Expressions.dll
src/bin/ARM/Release/System.Linq.Parallel.dll
src/bin/ARM/Release/System.Linq.Queryable.dll
src/bin/ARM/Release/System.Net.Http.dll
src/bin/ARM/Release/System.Net.dll
src/bin/ARM/Release/System.Net.Http.Rtc.dll
src/bin/ARM/Release/System.Net.NetworkInformation.dll
src/bin/ARM/Release/System.Net.NameResolution.dll
src/bin/ARM/Release/System.Net.Primitives.dll
src/bin/ARM/Release/System.Net.Sockets.dll
src/bin/ARM/Release/System.Net.WebHeaderCollection.dll
src/bin/ARM/Release/System.Net.Requests.dll
src/bin/ARM/Release/System.Net.WebSockets.dll
src/bin/ARM/Release/System.Net.WebSockets.Client.dll
src/bin/ARM/Release/System.Numerics.dll
src/bin/ARM/Release/System.Numerics.Vectors.dll
src/bin/ARM/Release/System.ObjectModel.dll
src/bin/ARM/Release/System.Numerics.Vectors.WindowsRuntime.dll
src/bin/ARM/Release/System.Private.DataContractSerialization.dll
src/bin/ARM/Release/System.Private.Uri.dll
src/bin/ARM/Release/System.Private.ServiceModel.dll
src/bin/ARM/Release/System.Reflection.DispatchProxy.dll
src/bin/ARM/Release/System.Reflection.Context.dll
src/bin/ARM/Release/System.Reflection.Emit.dll
src/bin/ARM/Release/System.Reflection.dll
src/bin/ARM/Release/System.Reflection.Extensions.dll
src/bin/ARM/Release/System.Reflection.TypeExtensions.dll
src/bin/ARM/Release/System.Reflection.Metadata.dll
src/bin/ARM/Release/System.Reflection.Primitives.dll
src/bin/ARM/Release/System.Resources.ResourceManager.dll
src/bin/ARM/Release/System.Runtime.dll
src/bin/ARM/Release/System.Runtime.Extensions.dll
src/bin/ARM/Release/System.Runtime.Handles.dll
src/bin/ARM/Release/System.Runtime.InteropServices.dll
src/bin/ARM/Release/System.Runtime.Numerics.dll
src/bin/ARM/Release/System.Runtime.InteropServices.WindowsRuntime.dll
src/bin/ARM/Release/System.Runtime.Serialization.dll
src/bin/ARM/Release/System.Runtime.Serialization.Primitives.dll
src/bin/ARM/Release/System.Runtime.Serialization.Json.dll
src/bin/ARM/Release/System.Runtime.Serialization.Xml.dll
src/bin/ARM/Release/System.Runtime.WindowsRuntime.UI.Xaml.dll
src/bin/ARM/Release/System.Runtime.WindowsRuntime.dll
src/bin/ARM/Release/System.Security.Claims.dll
src/bin/ARM/Release/System.Security.Cryptography.Cng.dll
src/bin/ARM/Release/System.Security.Cryptography.Encoding.dll
src/bin/ARM/Release/System.Security.Cryptography.Primitives.dll
src/bin/ARM/Release/System.Security.Principal.dll
src/bin/ARM/Release/System.Security.Cryptography.X509Certificates.dll
src/bin/ARM/Release/System.Security.Cryptography.Algorithms.dll
src/bin/ARM/Release/System.ServiceModel.Duplex.dll
src/bin/ARM/Release/System.ServiceModel.dll
src/bin/ARM/Release/System.ServiceModel.Http.dll
src/bin/ARM/Release/System.ServiceModel.Primitives.dll
src/bin/ARM/Release/System.ServiceModel.NetTcp.dll
src/bin/ARM/Release/System.ServiceModel.Web.dll
src/bin/ARM/Release/System.ServiceModel.Security.dll
src/bin/ARM/Release/System.Text.Encoding.dll
src/bin/ARM/Release/System.Text.Encoding.CodePages.dll
src/bin/ARM/Release/System.Text.Encoding.Extensions.dll
src/bin/ARM/Release/System.Text.RegularExpressions.dll
src/bin/ARM/Release/System.Threading.dll
src/bin/ARM/Release/System.Threading.Overlapped.dll
src/bin/ARM/Release/System.Threading.Tasks.Dataflow.dll
src/bin/ARM/Release/System.Threading.Tasks.dll
src/bin/ARM/Release/System.Threading.Tasks.Extensions.dll
src/bin/ARM/Release/System.Threading.Tasks.Parallel.dll
src/bin/ARM/Release/System.Threading.Timer.dll
src/bin/ARM/Release/System.Windows.dll
src/bin/ARM/Release/System.Xml.Linq.dll
src/bin/ARM/Release/System.Xml.dll
src/bin/ARM/Release/System.Xml.Serialization.dll
src/bin/ARM/Release/System.Xml.ReaderWriter.dll
src/bin/ARM/Release/System.Xml.XDocument.dll
src/bin/ARM/Release/System.Xml.XmlDocument.dll
src/bin/ARM/Release/System.Xml.XmlSerializer.dll
src/bin/x64/Release/App.xbf
src/bin/x64/Release/AppxManifest.xml
src/bin/x64/Release/clrcompression.dll
src/bin/x64/Release/FloatingCastle_Client.build.appxrecipe
src/bin/x64/Release/FloatingCastle_Client.exe
src/bin/x64/Release/FloatingCastle_Client.xr.xml
src/bin/x64/Release/FloatingCastle_Client_0.0.5.0_x64.appx
src/bin/x64/Release/FloatingCastle_Client_0.0.5.0_x64.cer
src/bin/x64/Release/ilc/Adapters.g.cs
src/bin/x64/Release/ilc/AppxManifest.xml
src/bin/x64/Release/ilc/AssemblyInfo.g.cs
src/bin/x64/Release/ilc/Assets/BadgeLogo.scale-100.png
src/bin/x64/Release/ilc/Assets/BadgeLogo.scale-125.png
src/bin/x64/Release/ilc/Assets/BadgeLogo.scale-150.png
src/bin/x64/Release/ilc/Assets/BadgeLogo.scale-200.png
src/bin/x64/Release/ilc/Assets/BadgeLogo.scale-400.png
src/bin/x64/Release/ilc/Assets/LargeTile.scale-100.png
src/bin/x64/Release/ilc/Assets/LargeTile.scale-125.png
src/bin/x64/Release/ilc/Assets/LargeTile.scale-150.png
src/bin/x64/Release/ilc/Assets/LargeTile.scale-200.png
src/bin/x64/Release/ilc/Assets/LargeTile.scale-400.png
src/bin/x64/Release/ilc/Assets/LockScreenLogo.scale-200.png
